@charset "utf-8";

@import "_reset.pcss";
@import "_vars.pcss";
/* @import "_mixins.pcss"; */

/* Initial
----------------------------------------------------------------------------- */

body {
	background: #fff;
	color: #000;
	font: normal 18px/26px "Rubik", "Arial", "Helvetica", sans-serif;
}
a {
	text-decoration: underline;
	transition: color $transition-duration ease-in-out;

	&,
	&:active {
		color: inherit;
	}
	&:hover,
	&:focus {
		color: #4ec41a;
	}
}
.not-palm {
	display: none;
}
.palm-only {
	@media (--not-palm) {
		display: none;
	}
}

/* Blocks
----------------------------------------------------------------------------- */

.inner {
	$padding: 20px;

	margin-right: auto;
	margin-left: auto;
	padding-right: $padding;
	padding-left: $padding;
	max-width: calc($all-columns + $padding * 2);

	@media (--palm) {
		padding-right: 12px;
		padding-left: 12px;
	}
}
.masthead {
	position: relative;
	overflow: hidden;
	margin-bottom: 80px;
	padding-top: 55px;
	padding-bottom: 200px;
	background: #ffedcd url("/img/veggiemat.jpg") calc(50% + 290px) bottom no-repeat;
	background-size: 962px 656px;

	@media (-webkit-min-device-pixel-ratio: 2) and (--not-palm),
		(min--moz-device-pixel-ratio: 2) and (--not-palm),
		(-o-min-device-pixel-ratio: 2) and (--not-palm),
		(min-device-pixel-ratio: 2) and (--not-palm),
		(min-resolution: 2dppx) and (--not-palm) {
		background-image: url("/img/veggiemat@2x.jpg");
	}

	@media (--palm) {
		margin-bottom: 30px;
		padding-top: 30px;
		padding-bottom: 0;
		background-position: -20px 100%;
		background-size: 120% auto;
	}
}
.masthead::after {
	@media (--palm) {
		display: block;
		padding-top: 80%;
		width: 100%;
		content: "";
	}
}
.masthead__inner {
	position: relative;
}
.masthead__title {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 48px;
	line-height: 58px;

	@media (--palm) {
		margin-bottom: 10px;
		font-size: 26px;
		line-height: 30px;
	}
}
.masthead__description {
	margin-bottom: 30px;
	max-width: 540px;
	font-size: 22px;
	line-height: 32px;

	@media (--palm) {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 26px;
	}
}
.masthead__subscription {
}
.masthead__subscription-intro {
	margin-bottom: 7px;
}
.preorder {
	display: inline-block;
	padding: 0 28px;
	height: 52px;
	border-radius: 3px;
	background: hsl(332, 84%, 50%); /* #eb1478 */
	color: #fff !important;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-size: 18px;
	line-height: 52px;

	&:hover {
		background: hsl(332, 84%, 43%);
	}
}
.preorder__logo {
	display: inline-block;
	overflow: hidden;
	margin-left: 2px;
	width: 99px;
	height: 14px;
	background: url("/img/indiegogo-logo.svg") 0 0 no-repeat;
	text-indent: 110%;
	white-space: nowrap;
}
.logo {
	margin-bottom: 102px;

	@media (--palm) {
		margin-bottom: 16px;
	}
}
.logo__image {
	@media (--palm) {
		width: 146px;
	}
}
.instructions {
	margin-bottom: 120px;
	text-align: center;

	@media (--palm) {
		margin-bottom: 40px;
		text-align: left;
	}
}
.instructions__intro {
	margin: 0 auto 80px;
	max-width: calc(($column + $gutter) * 6 - $gutter);

	@media (--palm) {
		margin-bottom: 30px;
		max-width: none;
	}
}
.instructions__title {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	@media (--palm) {
		margin-bottom: 4px;
		font-size: 20px;
		line-height: 26px;
	}
}
.instructions__description {
	@media (--palm) {
		font-size: 16px;
		line-height: 22px;
	}
}
.instructions__columns {
	display: grid;
	align-items: start;
	grid-template-columns: 7fr 6fr;
	grid-gap: $gutter;

	@media (--lap) {
		grid-template-columns: 1fr 1fr;
	}
	@media (--palm) {
		display: block;
	}
}
.instructions__image-wrapper {
	position: relative;

	@media (--palm) {
		margin-right: -12px;
		margin-bottom: 34px;
		margin-left: -12px;
	}
}
.instructions__image {
	width: 100%;
}
.instructions__tip {
	position: absolute;
	top: 75%;
	left: 24%;
	padding-top: 146px;
	padding-left: 8px;
	background: url("/img/arrow.svg") 10px 0 no-repeat;

	@media (--palm) {
		display: none;
	}
}
.instructions__tip-inner {
	display: block;
	color: #4ec41a;
	font-weight: 500;
	font-style: italic;
	font-size: 24px;
	line-height: 30px;
	transform: rotate(-4deg);
}
.instructions__steps {
	align-self: center;
	padding: 0 40px;

	@media (--lap) {
		padding-right: 20px;
		padding-left: 20px;
	}
	@media (--palm) {
		padding: 0;
	}
}
.instructions__step {
	margin-bottom: 40px;
	padding-top: 50px;
	background: 50% 0 no-repeat;

	@media (--palm) {
		margin-bottom: 22px;
		padding-top: 0;
		padding-left: 54px;
		background-position: 0 2px;
		background-size: 34px auto;
	}
}
.instructions__step:nth-child(1) {
	background-image: url("/img/step-1.svg");
}
.instructions__step:nth-child(2) {
	background-image: url("/img/step-2.svg");
}
.instructions__step:nth-child(3) {
	background-image: url("/img/step-3.svg");
}
.instructions__step:last-child {
	margin-bottom: 0;
}
.instructions__step-title {
	margin-bottom: 3px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;

	@media (--palm) {
		font-size: 16px;
		line-height: 22px;
	}
}
.instructions__step-description {
	font-size: 16px;
	line-height: 22px;
}
.science {
	position: relative;
	margin-bottom: 96px;
	padding-top: 100px;
	padding-bottom: 80px;

	@media (--palm) {
		margin-bottom: 46px;
		padding-top: 54px;
		padding-bottom: 34px;
	}
}
.science::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #ffeef1;
	content: "";
	transform: skewY(-3deg);
	transform-origin: center center;
}
.science__intro {
	margin: 0 auto 66px;
	max-width: calc(($column + $gutter) * 8 - $gutter);
	text-align: center;

	@media (--palm) {
		margin-bottom: 30px;
		text-align: left;
	}
}
.science__title {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	@media (--palm) {
		font-size: 20px;
		line-height: 26px;
	}
}
.science__description {
	@media (--palm) {
		font-size: 16px;
		line-height: 22px;
	}
}
.science__columns {
	display: grid;
	grid-template-columns: auto 43%;
	grid-gap: 50px;

	@media (--palm) {
		grid-template-columns: auto;
		grid-gap: 30px;
	}
}
.science__facts {
}
.science__fact {
	position: relative;
	padding-left: calc($column + $gutter);

	@media (--palm) {
		padding-left: 54px;
	}
}
.science__fact:not(:last-child) {
	margin-bottom: 30px;

	@media (--palm) {
		margin-bottom: 20px;
	}
}
.science__fact-image {
	position: absolute;
	top: 5px;
	right: 100%;
	margin-right: -$column;

	@media (--palm) {
		top: 3px;
		left: 0;
		margin-right: auto;
		transform: scale(0.75);
		transform-origin: top left;
	}
}
.science__fact-header {
	display: flex;
	flex-wrap: wrap;
	align-content: baseline;
	justify-content: space-between;
	margin-bottom: 3px;

	@media (--palm) {
		margin-bottom: 3px;
	}
}
.science__fact-title {
	margin-right: 15px;
	font-weight: 500;
	font-size: inherit;
	line-height: inherit;

	@media (--palm) {
		margin-right: 0;
		margin-bottom: 2px;
		font-size: 16px;
		line-height: 22px;
	}
}
.science__read-research {
	white-space: nowrap;
	font-size: 14px;
	line-height: 22px;

	@media (--palm) {
		display: none;
	}
}
.science__read-research-link {
	padding-left: 18px;
	background: url("/img/research.svg") 0 50% no-repeat;
	color: rgba(#000, 0.5);
}
.science__fact-description {
	font-size: 16px;
	line-height: 22px;
}

.science__image-wrapper {
	@media (--palm) {
		margin-right: -12px;
		margin-left: -12px;
		grid-row: -1;
	}
}
.science__image {
	max-width: 100%;
	width: auto;
}
.safety {
	margin-bottom: 120px;

	@media (--palm) {
		margin-bottom: 50px;
	}
}
.safety__title {
	margin-bottom: 50px;
	text-align: center;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	@media (--palm) {
		margin-bottom: 20px;
		text-align: left;
		font-size: 20px;
		line-height: 26px;
	}
}
.safety__columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: $gutter;

	@media (--palm) {
		display: block;
	}
}
.safety__type {
	padding: 0 20px;
	text-align: center;

	@media (--lap) {
		padding: 0 10px;
	}
	@media (--palm) {
		padding: 0;
		padding-left: 54px;
		text-align: left;
	}
}
.safety__type:not(:last-child) {
	@media (--palm) {
		margin-bottom: 20px;
	}
}
.safety__image-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 6px;
	height: 95px;

	@media (--palm) {
		display: block;
		float: left;
		margin-bottom: 0;
		margin-left: -54px;
		height: auto;
	}
}
.safety__type:first-child .safety__image-wrapper {
	align-items: flex-start;
}
.safety__image {
	@media (--palm) {
		width: 34px;
	}
}
.safety__type-title {
	margin-bottom: 3px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;

	@media (--palm) {
		font-size: 16px;
		line-height: 22px;
	}
}
.safety__type-description {
	font-size: 16px;
	line-height: 22px;
}

$extra-padding-top: 35px;

.extra {
	display: grid;
	margin-bottom: 100px;
	grid-template-columns: 7fr 5fr;
	grid-gap: $gutter;

	@media (--lap) {
		grid-template-columns: 1fr 1fr;
	}
	@media (--palm) {
		display: block;
		margin-bottom: 0;
	}
}
.extra__money-saver {
}
.extra__family-run {
}
.money-saver {
	position: relative;
	padding-top: $extra-padding-top;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 160px;
	background: #fdf6dd url("/img/sustainable.svg") 55px calc($extra-padding-top + 10px) no-repeat;

	@media (--lap) {
		padding-left: 50px;
		background-image: none;
	}
	@media (--palm) {
		margin: 0 -12px;
		padding: 30px 12px 24px;
		background-image: none;
	}
}
.money-saver::before {
	position: absolute;
	top: -10px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #fdf6dd;
	content: "";
	transform: skewY(-2deg);
	transform-origin: top left;

	@media (--palm) {
		display: none;
	}
}
.money-saver::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #fdf6dd;
	content: "";
	transform: skewY(2deg);
	transform-origin: bottom left;

	@media (--palm) {
		display: none;
	}
}
.money-saver__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	@media (--palm) {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 26px;
	}
}
.money-saver__title::before {
	@media (--portable) {
		float: right;
		margin-bottom: 10px;
		margin-left: 20px;
		background: url("/img/sustainable.svg") 50% 0 no-repeat;
		background-size: contain;
		content: "";
	}
	@media (--lap) {
		margin-top: 10px;
		width: 58px;
		height: 58px;
	}
	@media (--palm) {
		width: 46px;
		height: 46px;
	}
}
.money-saver__description {
	margin-bottom: 30px;

	@media (--palm) {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 22px;
	}
}
.money-saver__image-wrapper {
}
.money-saver__image {
	max-width: 100%;
	width: auto;
}
.family-run {
	position: relative;
	padding-top: $extra-padding-top;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-left: 50px;
	background: #ecf0f1;

	@media (--palm) {
		margin: 0 -12px;
		padding: 30px 12px;
	}
}
.family-run::before {
	position: absolute;
	top: -10px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #ecf0f1;
	content: "";
	transform: skewY(2deg);
	transform-origin: top right;

	@media (--palm) {
		display: none;
	}
}
.family-run::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #ecf0f1;
	content: "";
	transform: skewY(-4deg);
	transform-origin: bottom right;

	@media (--palm) {
		display: none;
	}
}
.family-run__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;

	@media (--palm) {
		margin-bottom: 15px;
		font-size: 20px;
		line-height: 26px;
	}
}
.family-run__paragraph {
	@media (--palm) {
		font-size: 16px;
		line-height: 22px;
	}
}
.family-run__paragraph:not(:last-child) {
	margin-bottom: 26px;

	@media (--palm) {
		margin-bottom: 22px;
	}
}
.connect {
	position: relative;
	padding-top: 65px;
	padding-bottom: 60px;
	background: #d4eff2;

	@media (--palm) {
		padding-top: 20px;
		padding-bottom: 30px;
		text-align: center;
	}
}
.connect::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #d4eff2;
	content: "";
	transform: skewY(-1deg);
	transform-origin: top left;

	@media (--palm) {
		display: none;
	}
}
.connect__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: $gutter;

	@media (--palm) {
		display: block;
	}
}
.connect__image-wrapper {
	@media (--palm) {
		margin-bottom: 10px;
		margin-left: -12px;
	}
}
.connect__image {
	max-width: 100%;
	width: auto;
}
.connect__main {
	align-self: center;
	padding-bottom: 24px; /* For vertical alignment */

	@media (--palm) {
		padding-bottom: 0;
	}
}
.connect__date {
	margin-bottom: 10px;
	color: #4ec41a;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
}
.connect__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 30px;
	line-height: 38px;
}
.connect__description {
	margin-bottom: 20px;
}
.connect__form {
}
.flying-thing {
	position: fixed;
	right: 0;
	bottom: -1px; /* Fixing Mobile Safari 10 bug with transparent line under a block */
	left: 0;
	visibility: visible;
	padding: 12px;
	height: $flying-button-height;
	border-top: 1px solid #ecf0f1;
	background: #fff;
	opacity: 1;
	transition: opacity 0.2s linear;

	@media (--not-palm) {
		display: none;
	}
}
.flying-thing--hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s, opacity 0.2s linear;
}
.flying-thing__link {
	display: block;
	width: 100%;
	text-align: center;
}
