<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>VeggieMat™ — Make eating vegetables fun for kids</title>
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,600" rel="stylesheet">

  <!-- Search Engine -->
  <meta name="description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Schema.org for Google -->
  <meta itemprop="name" content="VeggieMat">
  <meta itemprop="description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta name="twitter:description"
        content="Help your kids to explore a healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta name="twitter:site" content="@hvost">
  <meta name="twitter:image:src" content="https://veggiemat.club/static/images/social-share.jpg">

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta property="og:description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta property="og:image" content="https://veggiemat.club/static/images/social-share.jpg">
  <meta property="og:type" content="website">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127068969-1"></script>-->
  <!--<script>-->
  <!--window.dataLayer = window.dataLayer || [];-->
  <!--function gtag(){dataLayer.push(arguments);}-->
  <!--gtag('js', new Date());-->

  <!--gtag('config', 'UA-127068969-1');-->
  <!--</script>-->
</head>
<body>

<div class="page">
  <header class="header">
    <div class="section">
      <div class="header__i">
        <a href="/" class="header__logo">
          <img src="static/images/logo.svg" alt="VeggieMat™" class="header__logo__image">
        </a>
        <div class="header__menu-btn" data-menu-btn>
          <div class="header__menu-btn__i"></div>
        </div>
        <nav class="header__menu" data-menu>
          <a href="/" class="header__menu__item --mobile">Home</a>
          <a href="/products.html" class="header__menu__item --mobile">Products</a>
          <a href="/research.html" class="header__menu__item">Research</a>
          <a href="/about.html" class="header__menu__item">About</a>
          <a href="/contacts.html" class="header__menu__item">Contact</a>
        </nav>
      </div>
    </div>
  </header>

  <div class="section">
    <h1 class="about-title">About</h1>
  </div>

  <div class="about">
    <div class="section">
      <div class="about__i">
        <div class="about__img">
          <img class="about__img__tag" src="static/images/veggies.jpg"
               srcset="static/images/veggies@2x.jpg 2x"
               alt="VeggieMat™ with colorful vegetables on it">
        </div>
        <div class="about__content">
          <div class="about__descr">
            <p>
              “About a year ago, while researching a product I was working on, I came across a study exploring the
              impact of picky eating on a kid's future. After talking to several parents, I realized there was no single
              thing that makes kids eat more vegetables. So, combining science and real life, I designed a product that
              is visually appealing, encourages healthy eating, stimulates interest and allows pickier eaters to try new
              things.
            </p>
            <p>
              Adopting healthy eating habits from a young age can have a positive influence on dietary habits later in
              life. We tested VeggieMat™ with families – both parents and kids loved it! It takes children on a veggie
              voyage of matching vegetable pieces to shapes and talking about colors. By helping them discover a veggie
              wonderland, VeggieMat™ makes healthy eating fun."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="person">
    <div class="section">
      <div class="person__i">
        <div class="person__picture">
          <img class="person__picture__tag" src="static/images/artem.jpg"
               srcset="static/images/artem@2x.jpg 2x"
               alt="VeggieMat™ with colorful vegetables on it">
        </div>
        <div class="person__descr">
          <p>
            VeggieMat™ is a family-run business managed by <a href="#">Artiom Dashinsky</a>, a former Senior Product Designer at WeWork as
            well as the author of an Amazon best-seller in the Design category.
          </p>
          <p>
            Based in Israel and Europe, the family of three are educators, makers and product designers alike who have
            built things used by professionals at Google, Facebook, Netflix, Boeing, and others.
          </p>
        </div>
        <div class="person__btn btn">
          <svg class="person__btn__icon" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21">
            <path fill="#FFF" fill-rule="nonzero" d="M3.868 17.26C1.508 15.477 0 12.763 0 9.722 0 4.352 4.701 0 10.5 0 16.3 0 21 4.353 21 9.722c0 5.37-4.7 9.722-10.5 9.722-1.082 0-2.126-.151-3.108-.432L3.868 21v-3.74zm5.51-10.2l-5.662 5.95 5.154-2.807 2.692 2.806 5.63-5.95-5.095 2.757L9.379 7.06z"/>
          </svg>
          Send Me a Message
        </div>
      </div>
    </div>
  </div>

  <div class="shop-now --mobile">
    <div class="section">
      <div class="shop-now__i cols">
        <div class="col-6 shop-now__content">
          <h2 class="shop-now__title">
            Get Your VeggieMat&nbsp;Now
          </h2>
          <p class="shop-now__descr">
            Available in&nbsp;2&nbsp;colors and&nbsp;2&nbsp;designs. $12.99&nbsp;/mat.
          </p>
          <a href="/products.html" class="shop-now__descr__btn btn">Shop Now</a>
        </div>
        <div class="col-6 shop-now__img">
          <img class="shop-now__img__tag" src="static/images/veggiemat.jpg" srcset="static/images/veggiemat@2x.jpg 2x"
               alt="VeggieMat™ with colorful vegetables on it">
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="section">
      <div class="footer__i">
        <div class="footer__info">
          <p class="footer__owner">Sugar So What Ltd.</p>
          <p class="footer__copyright">Copyright 2019</p>
        </div>
        <nav class="footer__nav">
        <span class="footer__nav__item">
          <a class="footer__nav__link" href="/terms.html">Terms and Conditions</a>
        </span>
          <span class="footer__nav__item">
          <a class="footer__nav__link" href="/contacts.html">Contact</a>
        </span>
        </nav>
      </div>
    </div>
  </footer>
</div>

</body>
</html>
