<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>VeggieMat™ — Make eating vegetables fun for kids</title>
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

  <link rel="stylesheet" href="https://use.typekit.net/goa7ocl.css">

  <!-- Search Engine -->
  <meta name="description" content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Schema.org for Google -->
  <meta itemprop="name" content="VeggieMat">
  <meta itemprop="description" content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta name="twitter:description" content="Help your kids to explore a healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta name="twitter:site" content="@hvost">
  <meta name="twitter:image:src" content="https://veggiemat.club/static/images/social-share.jpg">

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta property="og:description" content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta property="og:image" content="https://veggiemat.club/static/images/social-share.jpg">
  <meta property="og:type" content="website">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127068969-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127068969-1');
  </script>
</head>
<body>

<div class="page">
  <header class="header">
    <h1 class="header__logo">
      <img src="static/images/logo.svg" alt="VeggieMat™" class="header__logo__image">
    </h1>
    <div class="header__menu-btn"></div>
    <nav class="header__menu">
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/research">Research</a>
      <a href="/about">About</a>
      <a href="/contacts">Contact</a>
    </nav>
  </header>
</div>
</body>
</html>
