<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>VeggieMat™ — Make eating vegetables fun for kids</title>
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

  <!-- Font -->
  <link rel="stylesheet" href="https://use.typekit.net/zeu6lid.css">

  <!-- Search Engine -->
  <meta name="description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Schema.org for Google -->
  <meta itemprop="name" content="VeggieMat">
  <meta itemprop="description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta name="twitter:description"
        content="Help your kids to explore a healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta name="twitter:site" content="@hvost">
  <meta name="twitter:image:src" content="https://veggiemat.club/static/images/social-share.jpg">

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta property="og:description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta property="og:image" content="https://veggiemat.club/static/images/social-share.jpg">
  <meta property="og:type" content="website">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127068969-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127068969-1');
  </script>
</head>
<body>

<div class="page">
  <header class="header">
    <div class="section">
      <div class="header__i">
        <a href="/" class="header__logo">
          <img src="/static/images/logo.svg" alt="VeggieMat™" class="header__logo__image">
        </a>
        <div class="header__menu-btn" data-menu-btn>
          <div class="header__menu-btn__i"></div>
        </div>
        <nav class="header__menu" data-menu>
          <a href="/products" class="header__menu__item">Products</a>
          <a href="/" class="header__menu__item">Home</a>
          <a href="/research" class="header__menu__item">Research</a>
          <a href="/about" class="header__menu__item">About</a>
          <a href="#" class="header__menu__item" data-messenger-btn>Contact</a>
        </nav>
      </div>
    </div>
  </header>

  <div class="terms">
    <div class="section">
      <h1 class="terms__title">Terms and Conditions</h1>
      <div class="terms__i cols">
        <div class="terms__content col">
          <p>
            While purchasing on the website your data might be transferred to third-parties essential for completing the
            purchase. All of the third-parties are GDPR compliant:
          </p>
          <ul>
            <li>
              PayPal (in order to process your PayPal payments)
            </li>
            <li>
              2Checkout (when paid with credit card)
            </li>
            <li>
              Shopify (to deliver your book digital copy)
            </li>
          </ul>
          <p>
            <i>
              While purchasing on the website your data might be transferred to third-parties essential for completing the
              purchase. All of the third-parties are GDPR compliant.
            </i>
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer --bordered">
    <div class="section">
      <div class="footer__i">
        <div class="footer__info">
          <p class="footer__owner">Sugar So What Ltd.</p>
          <p class="footer__copyright">Copyright 2019</p>
        </div>
        <nav class="footer__nav">
        <span class="footer__nav__item">
          <a class="footer__nav__link" href="/terms">Terms and Conditions</a>
        </span>
          <span class="footer__nav__item">
          <a class="footer__nav__link" href="#" data-messenger-btn>Contact</a>
        </span>
        </nav>
      </div>
    </div>
  </footer>
</div>

<!-- Kayako messenger -->
<script>
  (function(d,a){function c(){var b=d.createElement("script");b.async=!0;b.type="text/javascript";b.src=a._settings.messengerUrl;b.crossOrigin="anonymous";var c=d.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}window.kayako=a;a.readyQueue=[];a.newEmbedCode=!0;a.ready=function(b){a.readyQueue.push(b)};a._settings={apiUrl:"https://veggiemat.kayako.com/api/v1",messengerUrl:"https://veggiemat.kayakocdn.com/messenger",realtimeUrl:"wss://kre.kayako.net/socket"};window.attachEvent?window.attachEvent("onload",c):window.addEventListener("load",c,!1)})(document,window.kayako||{});
</script>
</body>
</html>
