<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>VeggieMat™ — Make eating vegetables fun for kids</title>
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">

  <!-- Font -->
  <link rel="stylesheet" href="https://use.typekit.net/zeu6lid.css">

  <!-- Search Engine -->
  <meta name="description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Schema.org for Google -->
  <meta itemprop="name" content="VeggieMat">
  <meta itemprop="description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta name="twitter:description"
        content="Help your kids to explore a healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta name="twitter:site" content="@hvost">
  <meta name="twitter:image:src" content="https://veggiemat.club/static/images/social-share.jpg">

  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="VeggieMat — Make eating vegetables fun for kids">
  <meta property="og:description"
        content="Help your kids to explore the healthy habit of eating vegetables. VeggieMat is an interactive placemat that creates a fun activity that makes vegetables more fun.">
  <meta property="og:image" content="https://veggiemat.club/static/images/social-share.jpg">
  <meta property="og:type" content="website">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127068969-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127068969-1');
  </script>
</head>
<body>

<div class="page">
  <header class="header">
    <div class="section">
      <div class="header__i">
        <a href="/" class="header__logo">
          <img src="/static/images/logo.svg" alt="VeggieMat™" class="header__logo__image">
        </a>
        <div class="header__menu-btn" data-menu-btn>
          <div class="header__menu-btn__i"></div>
        </div>
        <nav class="header__menu" data-menu>
          <a href="/products" class="header__menu__item">Products</a>
          <a href="/" class="header__menu__item --mobile">Home</a>
          <a href="/research" class="header__menu__item">Research</a>
          <a href="/about" class="header__menu__item">About</a>
          <a href="#" class="drift-open-chat header__menu__item">Contact</a>
        </nav>
      </div>
    </div>
  </header>

  <div class="terms">
    <div class="section">
      <h1 class="terms__title">Terms and Conditions</h1>
      <div class="terms__i cols">
        <div class="terms__content col">
          <p>
            While purchasing on the website your data might be transferred to third-parties essential for completing the
            purchase. All of the third-parties are GDPR compliant:
          </p>
          <ul>
            <li>
              Shopify (to transfer your order to us)
            </li>
            <li>
              2Checkout (when paid with credit card)
            </li>
            <li>
              PayPal (to process your PayPal payments)
            </li>
          </ul>
          <p>
            <b>Refund Policy</b> — Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
          </p>
          <p>
            <b>Shipping Policy</b> — Shipping around Europe is taking up to 15 days, US – 11-22 days, Asia and Oceania – 30 days. In case you didn't receive your package by then, please contact us via email.
          </p>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer --bordered">
    <div class="section">
      <div class="footer__i">
        <div class="footer__info">
          <p class="footer__owner">Sugar So What Ltd.</p>
          <p class="footer__copyright">Copyright 2019</p>
        </div>
        <nav class="footer__nav">
        <span class="footer__nav__item">
          <a class="footer__nav__link" href="/terms">Terms and Conditions</a>
        </span>
          <span class="footer__nav__item">
          <a class="footer__nav__link drift-open-chat" href="#">Contact</a>
        </span>
        </nav>
      </div>
    </div>
  </footer>
</div>

<!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('5veeaw7xp9fg');
</script>
<!-- End of Async Drift Code -->
<script>
  (function() {
    var DRIFT_CHAT_SELECTOR = '.drift-open-chat'
    /* http://youmightnotneedjquery.com/#ready */
    function ready(fn) {
      if (document.readyState != 'loading') {
        fn();
      } else if (document.addEventListener) {
        document.addEventListener('DOMContentLoaded', fn);
      } else {
        document.attachEvent('onreadystatechange', function() {
          if (document.readyState != 'loading')
            fn();
        });
      }
    }
    /* http://youmightnotneedjquery.com/#each */
    function forEachElement(selector, fn) {
      var elements = document.querySelectorAll(selector);
      for (var i = 0; i < elements.length; i++)
        fn(elements[i], i);
    }
    function openSidebar(driftApi, event) {
      event.preventDefault();
      driftApi.sidebar.open();
      return false;
    }
    ready(function() {
      drift.on('ready', function(api) {
        var handleClick = openSidebar.bind(this, api)
        forEachElement(DRIFT_CHAT_SELECTOR, function(el) {
          el.addEventListener('click', handleClick);
        });
      });
    });
  })();
</script>
</body>
</html>
