.intro {
  padding-top: 26px;
  background: $background-secondary;
}

.intro__title {
  margin-bottom: 15px;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}

.intro__descr {
  margin-bottom: 25px;
}
